{# _navbar.html.twig #}

{% block navbar %}
<nav style="display: flex; ">
<ul style="display: flex; " >

    <li style=" list-style-type: none; padding: 0px 20px"><a style="text-decoration: none" href=""#>Home</a></li>
    <li style=" list-style-type: none; padding: 0px 20px"><a style="text-decoration: none" href=""#>About</a></li>
    <li style=" list-style-type: none; padding: 0px 20px"><a style="text-decoration: none" href=""#>Blog</a></li>
    <li style=" list-style-type: none; padding: 0px 20px"><a style="text-decoration: none" href=""#>Contact Zoe</a></li>

</ul>
</nav>

{% endblock %}
